<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ heading }}</h1>
    <ul>
        {% for item in content %}
        <div>
        
        <h3>Order # {{ item.id }}</h3>
        <li>${{ item.total_price }}</li>

        <h3>Customer Name:</h3>
        <li>{{item.customer.user.first_name}} {{item.customer.user.last_name}}</li>
        {% if item.payment_type != null %}
        <h3>Payment Type</h3>
        <li>Merchant Name: {{ item.payment_type.merchant_name }} {{ item.payment_type.obscured_num }}</li>
        {% endif %}
        </div>

        {% endfor %}
    </ul>
</body>
</html>